/*

[Project Name] by YP
VERSION 1.0

MIXINS.LESS

*/
/* UTILITY MIXINS ------------------------------------------------------------------ */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
/* COMPONENT MIXINS ---------------------------------------------------------------- */