/*

[Project Name] by YP
VERSION 1.0

VARIABLES.LESS

*/
/* GLOBAL VALUES ------------------------------------------------------------------- */
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.serif {
  font-family: "Cambria, Georgia, Times, " Times New Roman;
}
.monospace {
  font-family: "Monaco", Courier New, monospace;
}
/* COMPONENT VARIABLES ------------------------------------------------------------- */
