-share_url = @user.id ? shareUrl_path(@user, :only_path => false, :host => "http://thehippyvan.com") : "http://thehippyvan.com/abcde"

To ensure
delivery to your inbox, please add info@thehippyvan.com to your
address book.

***********
Hippy Van
***********

---------------------------------------
Design inspirations for everyday living
---------------------------------------


Great news! #{@user.email}
---------------------------

Your account has been selected for Priority Access to
TheHippyVan.com's member-only sales.

We'll send you your login information before the first sales
goes live in Singapore in June 2012.

Invite Friends
--------------

Earn cash credit when your friends join and $25 when they make
their first purchase.

We've created this special URL that only you can use to invite
friends.

Copy and paste this URL in Facebook, Twitter or in an Email to
invite friends.
#{share_url} ( #{share_url} )

Design inspirations for everyday living

You received this email because you are registered on
thehippyvan.com with the email address: #{@user.email} (
mailto:#{@user.email} )
We respect your privacy. View our privacy policy (
# ). If you believe this has been
sent to you in error, please safely unsubscribe (
# ).
