-share_url = @user.inviter.id ? shareUrl_path(@user.inviter, :only_path => false, :host => "www.hipvan.com") : "http://www.hipvan.com/abcde"

If you are unable to see this message, click here to view ( # )
To ensure delivery to your inbox, please add info@hipvan.com to your address book.

***************************************
HippyVan
Design inspirations for everyday living
***************************************

Great news! #{@user.email}

Here's your exclusive invite from 
#{@user.inviter.email} to register for your membership at
Hipvan.com - design inspirations for everyday living.

Click the link below to register now.
#{share_url} ( #{share_url} )

You received this email because you are invited by #{@user.inviter.email} on 
www.hipvan.com ( http://www.hipvan.com ) with the 
email address: #{@user.email}. We respect your privacy. 
View our privacy policy ( # ). If you believe this has been sent to 
you in error, please safely unsubscribe  ( # ).