-share_url = @user.id ? shareUrl_path(@user, :only_path => false, :host => "www.hipvan.com") : "http://www.thehippyvan.com/abcde"

If you are unable to see this message, click here to view ( # )
To ensure delivery to your inbox, please add info@hipvan.com to your address book.

***************************************
HippyVan
Design inspirations for everyday living
***************************************

Great news! #{@user.email}

We have received your membership request for HippyVan’s
private design sales.
Membership is free but numbers are limited in order to maintain
our exceptional deals.
We approve new members daily.

Jump to the Front of the Line
\-----------------------------

Get early access if 3 friends join. We've created this special
URL that only you can use to invite friends.

Copy and paste this URL in Facebook, Twitter, or in an Email to
invite friends.

#{share_url} ( #{share_url} )

Invite Friends
\--------------

Earn cash credit when your friends join and $25 when they make
their first purchase.

You received this email because you are registered on
www.hipvan.com ( http://www.hipvan.com ) with the 
email address: #{@user.email}. We respect your privacy. 
View our privacy policy ( # ). If you believe this has been sent to 
you in error, please safely unsubscribe  ( # ).