-share_url = @user.id ? shareUrl_path(@user, :only_path => false, :host => "www.hipvan.com") : "http://www.thehippyvan.com/abcde"
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Your Membership Request for HipVan.com Private Sales", :property => "og:title"}/
    %title Your Membership Request for Hipvan Private Sales
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :style => "width: 100% !important; -webkit-text-size-adjust: none; font-family: Helvetica, Arial, Geneva, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #EDE5D5; background-image: url('http://www.thehippyvan.com/assets/bg.png'); background-repeat: repeat; background-position: top left;", :topmargin => "0"}
    %center
      %table{:background => "http://www.thehippyvan.com/assets/header.png", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "height: 100% !important; width: 100% !important; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-image: url('http://www.thehippyvan.com/assets/header.png'); background-repeat: repeat-x; background-position: top left;", :width => "100%"}
        %tr
          %td{:align => "center", :style => "border-collapse: collapse;", :valign => "top"}
            -#%table{:bgcolor => "#FAFAFA", :border => "0", :cellpadding => "10", :cellspacing => "0", :style => "background-color: #FAFAFA; margin-top: 10px;", :width => "600"}
              -#%tr
                -#%td{:style => "border-collapse: collapse;", :valign => "top"}
                  -#%table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%"}
                    -#%tr
                      -#%td{:style => "border-collapse: collapse;", :valign => "top", :width => "350"}
                        -#%div{:align => "right", :style => "color: #505050; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 10px; line-height: 100%; text-align: right;"}
                          -#If you are unable to see this message, click
                          -#%a{:href => "#", :style => "color: #336699; font-weight: normal; text-decoration: underline;"} here to view
                          -#%br/
                          -#To ensure delivery to your inbox, please add info@thehippyvan.com to your address book.
            %table{:bgcolor => "#333333", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-top: 10px; border-top-color: #dddddd; border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #333333;", :width => "600"}
              %tr
                %td{:align => "center", :style => "border-collapse: collapse;", :valign => "top"}
                  %table{:bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #FFFFFF; border-bottom-width: 0;", :width => "600"}
                    %tr
                      %td{:align => "center", :style => "border-collapse: collapse; color: #ffffff; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 34px; font-weight: bold; line-height: 100%; text-align: center; vertical-align: middle; border-bottom-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;", :valign => "middle"}
                        %div{:style => "background-color: #333333; padding-bottom: 20px; padding-right: 40px; padding-left: 40px; padding-top: 20px;"}
                          %h1{:align => "left", :style => "color: #ffffff; display: block; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 64px; font-weight: bold; line-height: 100%; text-align: left; margin-top: 0; margin-right: 0; margin-bottom: 8px; margin-left: 0;"}
                            %a{:href => "http://www.thehippyvan.com", :style => "color: #336699; font-weight: normal; text-decoration: underline;"}
                              %img{:src => "http://www.thehippyvan.com/assets/logo.png", :style => "border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"}/
                          %h2{:align => "left", :style => "color: #ffffff; display: block; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 24px; font-weight: bold; line-height: 100%; text-align: left; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0;"} Design inspirations for everyday living
              %tr
                %td{:align => "center", :style => "border-collapse: collapse;", :valign => "top"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                    %tr
                      %td{:style => "border-collapse: collapse;", :valign => "top"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                          %tr
                            %td{:bgcolor => "#333333", :style => "border-collapse: collapse; background-color: #333333;", :valign => "top"}
                              %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td{:style => "border-collapse: collapse;", :valign => "top"}
                                    %div{:align => "left", :style => "padding-left: 20px; padding-bottom: 20px; padding-right: 20px; padding-top: 20px; color: #999999; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 14px; line-height: 150%; text-align: left;"}
                                      %h1{:align => "left", :style => "color: #dd0017; display: block; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 34px; font-weight: bold; line-height: 100%; text-align: left; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0;"}
                                        Great news!
                                        %a{:href =>"", :style => "font-size: 24px; color: #ffffff;"} 
                                          #{@user.email}
                                      %p{:style => "color: #ffffff;"}
                                        We have received your membership request for Hipvan’s private design sales.
                                        Membership is free but numbers are limited in order to maintain our exceptional deals.
                                        We approve new members daily.
                                      %hr{:style => "border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #ffffff; border-bottom-style: dotted; margin-bottom: 18px;"}/
                                      %h3{:align => "left", :style => "color: #dd0017; display: block; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 26px; font-weight: bold; line-height: 100%; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;"} Jump to the Front of the Line
                                      %p{:style => "color: #ffffff;"} Get early access if 3 friends join. We've created this special URL that only you can use to invite friends.
                                      %p{:style => "color: #ffffff;"} 
                                        Copy and paste this URL in Facebook, Twitter, or in an Email to invite friends.
                                        %br/
                                        %a{:href => "#{share_url}", :style => "color: #ffffff; font-weight: normal; text-decoration: underline;"} #{share_url}
                                      %hr{:style => "border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #ffffff; border-bottom-style: dotted; margin-bottom: 18px;"}/
                                      %h3{:align => "left", :style => "color: #dd0017; display: block; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 26px; font-weight: bold; line-height: 100%; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;"} Invite Friends
                                      %p{:style => "color: #ffffff;"} Earn cash credit when your friends join and $25 when they make their first purchase.
              %tr
                %td{:align => "center", :style => "border-collapse: collapse;", :valign => "top"}
                  %table{:bgcolor => "#FAFAFA", :border => "0", :cellpadding => "10", :cellspacing => "0", :style => "background-color: #FAFAFA; border-top-width: 0;", :width => "600"}
                    %tr
                      %td{:style => "border-collapse: collapse;", :valign => "top"}
                        %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td{:colspan => "2", :style => "border-collapse: collapse; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;", :valign => "middle"}
                              %div{:align => "left", :style => "color: #707070; font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 12px; line-height: 125%; text-align: left;"}
                                You received this email because you are registered on 
                                %a{:href => "http://hipvan.com", :style => "color: #336699; font-weight: normal; text-decoration: underline;"} hipvan.com
                                with the email address: #{@user.email}. We respect your privacy. View our
                                = succeed "." do
                                  %a{:href => "#", :style => "color: #336699; font-weight: normal; text-decoration: underline;"} privacy policy
                                If you believe this has been sent to you in error, please safely
                                = succeed "." do
                                  %a{:href => "#", :style => "color: #336699; font-weight: normal; text-decoration: underline;"} unsubscribe
            %br/
    :css
      body { width: 100% !important; }
      .ReadMsgBody { width: 100% !important; }
      .ExternalClass { width: 100% !important; }
      body { -webkit-text-size-adjust: none !important; }
      body { margin: 0 !important; padding: 0 !important; }
      img { border: 0 !important; height: auto !important; line-height: 100% !important; outline: none !important; text-decoration: none !important; }
      #backgroundTable { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }
      body { font-family: Helvetica, Arial, Geneva, sans-serif !important; background: url('http://www.thehippyvan.com/assets/bg.png') repeat top left !important; }
      #backgroundTable { background: url('http://www.thehippyvan.com/assets/header.png') repeat-x top left !important; }
      .preheaderContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .headerContent a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .bodyContent div a { color: #ffffff !important; font-weight: normal !important; text-decoration: none !important; }
      .bodyContent div a:visited { color: #ffffff !important; font-weight: normal !important; text-decoration: underline !important; }
      .leftMidColumnContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .centerMidColumnContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .rightMidColumnContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .leftLowerColumnContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .rightLowerColumnContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }
      .footerContent div a:visited { color: #336699 !important; font-weight: normal !important; text-decoration: underline !important; }