/*

[Project Name] by YP
VERSION 1.0

MIXINS.LESS

*/

/* UTILITY MIXINS ------------------------------------------------------------------ */

// clearfix

.clearfix {
zoom : 1;

&:before, &:after {
content : "\0020"; 
display : block; 
height : 0; 
overflow : hidden; }

&:after {
clear : both; }
}

// borderradius

.rounded(@radius:3px) {
-webkit-border-radius : @radius;
-moz-border-radius : @radius;
border-radius : @radius; }

.bordered(@top-color: #eee, @right-color: #eee, @bottom-color: #eee, @left-color: #eee) {
border-top : solid 1px @top-color;
border-left : solid 1px @left-color;
border-right : solid 1px @right-color;
border-bottom : solid 1px @bottom-color; }

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
-webkit-border-top-right-radius : @topright;
-webkit-border-bottom-right-radius : @bottomright;
-webkit-border-bottom-left-radius : @bottomleft;
-webkit-border-top-left-radius : @topleft;
-moz-border-radius-topright : @topright;
-moz-border-radius-bottomright : @bottomright;
-moz-border-radius-bottomleft : @bottomleft;
-moz-border-radius-topleft : @topleft;
border-top-right-radius : @topright;
border-bottom-right-radius : @bottomright;
border-bottom-left-radius : @bottomleft;
border-top-left-radius : @topleft; }

// boxshadow

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
-webkit-box-shadow : @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
-moz-box-shadow : @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
box-shadow : @x-axis @y-axis @blur rgba(0, 0, 0, @alpha); }

.inset-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
-webkit-box-shadow : inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
-moz-box-shadow : inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
box-shadow : inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha); }

.box-shadow(@arguments) {
-webkit-box-shadow : @arguments;
-moz-box-shadow : @arguments;
box-shadow : @arguments; }

// csscolumns

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #eee, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
-webkit-column-width : @colwidth;
-webkit-column-count : @colcount;
-webkit-column-gap : @colgap;
-webkit-column-rule-color : @columnRuleColor;
-webkit-column-rule-style : @columnRuleStyle;
-webkit-column-rule-width : @columnRuleWidth;
-moz-column-width : @colwidth;
-moz-column-count : @colcount;
-moz-column-gap : @colgap;
-moz-column-rule-color : @columnRuleColor;
-moz-column-rule-style : @columnRuleStyle;
-moz-column-rule-width : @columnRuleWidth;
column-width : @colwidth;
column-count : @colcount;
column-gap : @colgap;
column-rule-color : @columnRuleColor;
column-rule-style : @columnRuleStyle;
column-rule-width : @columnRuleWidth; }

// cssgradients

.grad-bw(@color: #f5f5f5, @start: 0, @stop: 255) {
background : @color;
background : -webkit-gradient(linear,
left bottom,
left top,
color-stop(0, rgb(@start,@start,@start)),
color-stop(1, rgb(@stop,@stop,@stop)));
background : -moz-linear-gradient(center bottom,
rgb(@start,@start,@start) 0%,
rgb(@stop,@stop,@stop) 100%); }

.grad-col(@color: #f5f5f5, @start: #eee, @stop: #fff) {
background : @color;
background : -webkit-gradient(linear,
left bottom,
left top,
@start,
@stop);
background : -moz-linear-gradient(center bottom,
@start 0%,
@stop 100%); }

// csstransforms

.rotate(@deg : 5deg){ 
-webkit-transform : rotate(@deg);
-moz-transform : rotate(@deg);
transform : rotate(@deg); }

.scale(@ratio : 1.5){
-webkit-transform : scale(@ratio);
-moz-transform : scale(@ratio);
transform : scale(@ratio); }

.translate(@transformX : 20px, @transformY : 20px) {
-webkit-transform : translate(@transformX, @transformY);
-moz-transform : translate(@transformX, @transformY);
transform : translate(@transformX, @transformY); }

// csstransitions

.transition-duration(@duration : .2s) {
-moz-transition-duration : @duration;
-webkit-transition-duration : @duration;
transition-duration: @duration; }

.transition(@duration : .2s, @ease:ease-out) {
-webkit-transition : all @duration @ease;
-moz-transition : all @duration @ease;
transition : all @duration @ease; }

// opacity

.opacity(@opacity : .5) {
-webkit-opacity : @opacity;
-moz-opacity : @opacity;
opacity : @opacity; }

/* COMPONENT MIXINS ---------------------------------------------------------------- */