/*

[Project Name] by YP
VERSION 1.0

CONTENTS ----------

	 1 BODY 
	 2 DEFAULT STYLING 
	 3 HEADINGS 
	 4 TYPOGRAPHY
	 5 ANCHORS 
	 6 IMAGES AND VIDEOS
	 7 TABLES
	 8 FORMS
	 9 BRANDING/MASTHEAD
	10 NAVIGATION
	11 LAYOUT
	12 CONTENT
	13 MAIN
	14 COMPLEMENTARY
	15 SITEINFO/FOOTER
	16 GLOBAL ELEMENTS
	17 VENDOR-SPECIFIC
	18 MODERNIZER
	19 TEMPLATE SPECIFICS
	
SCREEN.CSS 

*/

@import url(scratch.css); /* SCRATCH CSS */

@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

/* BODY ---------------------------------------------------------------------------- */
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ 
}

body.landing {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../images/bg1.jpg");
}

/* @landing
---------------------------------------------------------------------- */
body.landing {
  color: @lightgrey;
}


/* DEFAULT STYLING ----------------------------------------------------------------- */
/* HEADINGS ------------------------------------------------------------------------ */
/* @landing
---------------------------------------------------------------------- */
h1 {font-size: 26px;}

.landing h1, .landing h2 {
  margin-bottom: 1em;
}

.landing h2, .landing h3, .landing h4, .landing h5, .landing h6 {
  color: @white;
}

h1 span {
  color: @basecol;
}

/* TYPOGRAPHY ---------------------------------------------------------------------- */
/* ANCHORS ------------------------------------------------------------------------- */

a { 
color : @linkcol; }

a:visited { 
color : @linkcolvisited; }

a:hover { 
color : @linkcolhover; }

a:focus { 
outline : thin dotted; 
color : @linkcolfocus; }

a:hover, 
a:active { 
outline : 0; }

/* IMAGES AND VIDEOS --------------------------------------------------------------- */
/* TABLES -------------------------------------------------------------------------- */
/* FORMS --------------------------------------------------------------------------- */
.landing form label {
  color: @lightgrey;
}

legend {
  color: @basecol; 
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-bottom: none;
  padding-bottom: 0.5em;
  }

input:focus {
  border-color: rgba(220, 0, 0, 0.8);
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
  
}

.btn-custom {
  background-color: hsl(360, 100%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff1414", endColorstr="#ad0000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff1414), to(#ad0000));
  background-image: -moz-linear-gradient(top, #ff1414, #ad0000);
  background-image: -ms-linear-gradient(top, #ff1414, #ad0000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff1414), color-stop(100%, #ad0000));
  background-image: -webkit-linear-gradient(top, #ff1414, #ad0000);
  background-image: -o-linear-gradient(top, #ff1414, #ad0000);
  background-image: linear-gradient(#ff1414, #ad0000);
  border-color: #ad0000 #ad0000 hsl(360, 100%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

a.skip {
  float: right;
  display: inline;
  color: @lightgrey;
  padding-top: 3px;
  margin-right: 10px;
}

a.back {
   color: @lightgrey
}

#aux-box .social {
  margin-bottom: 1em;
}

#aux-box .social img {
  width: 25px;
  height: 25px;
}

/* BRANDING/MASTHEAD --------------------------------------------------------------- */

.navbar .brand { padding-top: 14px; }

/* NAVIGATION ---------------------------------------------------------------------- */

.navbar .nav > li > a {
  padding: 16px 10px 15px;
}

/* LAYOUT -------------------------------------------------------------------------- */

/* @landing
---------------------------------------------------------------------- */
.landing .content {
  padding-top: 5em;
}

.landing .content .title, .landing .content #aux-box {
    width: @width-box - 2*@padding;
    height: @height-box - 2*@padding;
    padding: @padding;
    float: left;
    display: inline-block;
}

.landing .content .title {
  background: @black;

}

.landing .content #aux-box {
  background: rgba(0, 0, 0, 0.85);
}

/* CONTENT ------------------------------------------------------------------------- */
.thumbnail {
  padding: 0;
  background: @black;
}

.store-meta {
  color: @white;
}

.store-meta .info, .store-meta .social {
  padding: 10px;
  height: 49px;
}

.store-meta .social {
  padding-top: 16px;
  height: 43px;
  vertical-align: middle;
}


/* MAIN ---------------------------------------------------------------------------- */
/* COMPLEMENTARY ------------------------------------------------------------------- */
/* SITEINFO/FOOTER ----------------------------------------------------------------- */
/* GLOBAL ELEMENTS ----------------------------------------------------------------- */
/* VENDOR-SPECIFIC ----------------------------------------------------------------- */
/* MODERNIZR ----------------------------------------------------------------------- */
/* TEMPLATE SPECIFICS -------------------------------------------------------------- */