/*

[Project Name] by YP
VERSION 1.0

VARIABLES.LESS

*/

/* GLOBAL VALUES ------------------------------------------------------------------- */

@basecol : rgb(255,0,0);	    // Base colour
@compcol : spin(@basecol, 180);  	// Complementary colour

// Links

@linkcol : rgb(1,53,104);
@linkcolhover : darken(@linkcol, 10);
@linkcolvisited : @linkcolhover;
@linkcolfocus : @linkcolhover;

// greyscale

@black : rgb(0,0,0);
@darkgrey : lighten(@black, 25%);
@grey : lighten(@black, 50%);
@lightgrey : lighten(@black, 75%);
@lightergrey : lighten(@black, 90%);
@white : rgb(255,255,255);

// colour palettes

@col_l1 : lighten(@basecol, 5%);
@col_l2 : lighten(@basecol, 10%);
@col_l3 : lighten(@basecol, 15%);
@col_l4 : lighten(@basecol, 20%);

@col_d1 : darken(@basecol, 5%);
@col_d2 : darken(@basecol, 10%);
@col_d3 : darken(@basecol, 15%);
@col_d4 : darken(@basecol, 20%);

@comp_l1 : lighten(@compcol, 5%);
@comp_l2 : lighten(@compcol, 10%);
@comp_l3 : lighten(@compcol, 15%);
@comp_l4 : lighten(@compcol, 20%);

@comp_d1 : darken(@compcol, 5%);
@comp_d2 : darken(@compcol, 10%);
@comp_d3 : darken(@compcol, 15%);
@comp_d4 : darken(@compcol, 20%);

// type

.font-size(@font-size: 16){
@rem: (@font-size / 10);
font-size: @font-size * 1px;
font-size: ~"@{rem}rem"; }

.sans-serif {
font-family : "Helvetica Neue", Helvetica, Arial, sans-serif; }

.serif {
font-family : "Cambria, Georgia, Times, "Times New Roman; }

.monospace {
font-family : "Monaco", Courier New, monospace; }

// layout

@baseline : 1.5em;

/* COMPONENT VARIABLES ------------------------------------------------------------- */
@padding: 30px;
@width-box: 340px;
@height-box: 300px;