=form_for user, remote: true, html: {class: "request"} do |f|
  %label{:style => "color: rgb(0,172,163);"} Keep me in the loop!
  =f.text_field :email, placeholder: "email address", id: :email, class: :span3
  =f.hidden_field :state, value: User::REQUESTED
  =hidden_field_tag :referal_uid, uid
  =button_tag "Submit", id: :request_submit, class: :"btn btn-custom"

