-share_url = @user.id ? shareUrl_path(@user, :only_path => false) : "http://www.thehippyvan.com/abcde"
#share
  %h4 Share the Following Link With Your Friends to Earn Cash Credit

  %p 
    Use this URL that is specially created for you to invite friends. 
  %p
    Share this URL in Facebook, Twitter, or copy and paste into an Email to invite friends.
  
  %legend Invite Friends
  %input#ulink{type: "text", value: share_url}
  %p.social
    %a.fbbutton{:href => "http://www.facebook.com/sharer.php?u=#{share_url}", :title => "Share on Facebook", :target => "_blank"}
      %img{:alt => "Share on Facebook", :src => "/assets/fb.png", :title => "Share on Facebook"}
    %a.twbutton{:href => "http://twitter.com/intent/tweet?text=I have 3 exclusive invites for thehippyvan.com private design sales. Register using this link: #{share_url}", :title => "Share on Twitter", :target => "_blank"}
      %img{:alt => "Share on Twitter", :src => "/assets/twitter.png", :title => "Share on Twitter"}
  %p Earn cash credit when your friends join and $25 when they make their first purchase.
  %hr
    %a.btn.btn-custom{:href => "/", :title => "Preview HippyVan Store"} Preview Our Store