%body.landing
  .navbar.navbar-fixed-top
    .navbar-inner
      %a.brand{:href => "http://www.thehippyvan.com"}
        %img{:src => "assets/brand.png", :alt=> "HippyVan"}
      .shadow
  .container
    .content.offset3
      #title
        %h1 
          .sub-text
            %strong{:style => "color: rgb(255,255,255);"} HipVan
            features design inspirations for everyday living and sales at up to
            %strong{:style => "color: rgb(0,172,163);"} 70% off 
            retail.                  
        #signup
          =render :partial => "users/form", locals: {user: @user, uid: @uid}
        .message 
          Launching soon in Singapore.
        #error
          %p
            Your email was already registered or there was an error.
