=form_for user, remote: true, html: {class: "invite"} do |f|
  =f.fields_for :inviteds do |friends|
    =friends.text_field :email, placeholder: "Email address", class: :"email span3"
    =friends.hidden_field :state, value: User::INVITED    
  =button_tag "Submit", id: :invite_submit, class: :"btn btn-custom"