-share_url = @user.id ? shareUrl_path(@user, :only_path => false) : "http://www.hipvan.com/abcde"
#invite
  %h4 Great news! #{@user.email}
  %p You're now in the loop for HipVan.com
  %h4 Become a HipVan Ambassador
  %p
    Invite 5 friends to HipVan and become a HipVan Ambassador to enjoy eclusive previews and discounts.
  %p Enter their emails here and copy and paste this special link we've created for you in Facebook, Twitter or in an Email to invite friends.
  %h4 Invite Friends
  =render :partial => "invitations/form", locals: {user: @user}
  %h4 Share link
  %input#ulink{type: "text", value: share_url}
  %p.social
    %a.fbbutton{:href => "http://www.facebook.com/sharer.php?u=#{share_url}", :title => "Share on Facebook", :target => "_blank"}
      %img{:alt => "Share on Facebook", :src => "/assets/fb.png", :title => "Share on Facebook"}
    %a.twbutton{:href => "http://twitter.com/intent/tweet?text=I have exclusive invites for hipvan.com private design sales. Register using this link: #{share_url}", :title => "Share on Twitter", :target => "_blank"}
      %img{:alt => "Share on Twitter", :src => "/assets/twitter.png", :title => "Share on Twitter"}