/*

[TheHippyVan]
VERSION 1.0

CONTENTS ----------

	 1 BODY 
	 2 DEFAULT STYLING 
	 3 HEADINGS 
	 4 TYPOGRAPHY
	 5 ANCHORS 
	 6 IMAGES AND VIDEOS
	 7 TABLES
	 8 FORMS
	 9 BRANDING/MASTHEAD
	10 NAVIGATION
	11 LAYOUT
	12 CONTENT
	13 MAIN
	14 COMPLEMENTARY
	15 SITEINFO/FOOTER
	16 GLOBAL ELEMENTS
	17 VENDOR-SPECIFIC
	18 MODERNIZER
	19 TEMPLATE SPECIFICS
	
SCREEN.CSS 

*/

@import "bootstrap";
@import "bootstrap-responsive";
@import "variables.scss"; /* Modify this for custom colors, font-sizes, etc */
@import "mixins.scss";

/* BODY ---------------------------------------------------------------------------- */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../images/bg1.jpg");
}

/* $landing
---------------------------------------------------------------------- */
body.landing {
  color: $lightgrey;
}


/* DEFAULT STYLING ----------------------------------------------------------------- */
/* HEADINGS ------------------------------------------------------------------------ */
/* $landing
---------------------------------------------------------------------- */
h1 {font-size: 26px;}
h2 {margin-bottom: 1em;}
h3 {margin-bottom: 1em;}
h4, h5, h6 {margin-bottom: .4em;}

.landing h1 {
  font-weight: normal;
}

.landing h1, .landing h2 {
  margin-bottom: 1em;
}

.landing h2, .landing h3, .landing h4, .landing h5, .landing h6 {
  color: $white;
}

/* TYPOGRAPHY ---------------------------------------------------------------------- */
/* ANCHORS ------------------------------------------------------------------------- */

a { 
color : $linkcol; }

a:visited { 
color : $linkcolvisited; }

a:hover { 
color : $linkcolhover; }

a:focus { 
outline : thin dotted; 
color : $linkcolfocus; }

a:hover, 
a:active { 
outline : 0; }

a.btn:visited {
  color: $white;
}

/* IMAGES AND VIDEOS --------------------------------------------------------------- */
/* TABLES -------------------------------------------------------------------------- */
/* FORMS --------------------------------------------------------------------------- */
.landing form label {
  color: $lightgrey;
}

.landing legend {
  color: $basecol; 
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-bottom: none;
  padding: 0.5em 0 .25em;
  margin-bottom: 0;
  }

input:focus {
  border-color: rgba(220, 0, 0, 0.8);
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
  
}

.btn-custom {
  background-color: #00ACA3 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ACA3", endColorstr="#00ACA3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00ACA3), to(#00ACA3));
  background-image: -moz-linear-gradient(top, #ff1414, #00ACA3);
  background-image: -ms-linear-gradient(top, #ff1414, #00ACA3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff1414), color-stop(100%, #00ACA3));
  background-image: -webkit-linear-gradient(top, #00ACA3, #00ACA3);
  background-image: -o-linear-gradient(top, #00ACA3, #00ACA3);
  background-image: linear-gradient(#00ACA3, #00ACA3);
  border-color: #00ACA3 #00ACA3;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

a.skip {
  float: right;
  display: inline;
  color: $lightgrey;
  padding-top: 3px;
  margin-right: 10px;
}

a.back {
   color: $lightgrey
}

#aux-box .social {
  margin-bottom: .4em;
  float: left;
  margin-left: 10px;
}

#aux-box .social img {
  width: 25px;
  height: 25px;
}

/* BRANDING/MASTHEAD --------------------------------------------------------------- */

.navbar .brand { margin-left: 166px; padding: 10px 20px 14px 40px;}

/* NAVIGATION ---------------------------------------------------------------------- */
.navbar-inner {
  min-height: 60px;
}

.navbar .nav > li > a {
  padding: 16px 10px 15px;
}

/* LAYOUT -------------------------------------------------------------------------- */

/* $landing
---------------------------------------------------------------------- */
.landing .content {
  padding-top: 192px;
}

.landing .content #title, .landing .content #aux-box {
    width: $width-box - 2*$padding + 111;
    height: $height-box - 2*$padding - 90;
    padding: $padding;
    float: left;
    display: inline-block;
    background: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -145px;
}

.landing #title .sub-text {
    margin-bottom: 22px;
}
.landing .content #aux-box {
  background: rgba(0, 0, 0, 0.85);
}

/* CONTENT ------------------------------------------------------------------------- */
#error {
    margin-top: 10px;
    display: none;
  }
  
/* Store */
.thumbnail {
  padding: 0;
  background: $black;
}

.store-meta {
  color: $black;
}

.store-meta .info, .store-meta .social {
  padding: 10px;
  height: 49px;
}

.store-meta .social {
  padding-top: 16px;
  height: 43px;
  vertical-align: middle;
}

#request_submit, #invite_submit {
  right: 69px;
  top: -4px;
  position: relative;
  padding: 2px 8px;
}

.navbar-inner {
  background-image: none !important;
  background-color: #00aca3 !important;
/*  box-shadow: 0px 5px 5px 0px #CCCBCB;
  -moz-box-shadow: 0px 5px 5px 0px #CCCBCB;
  -webkit-box-shadow: 0px 5px 5px 0px #CCCBCB;*/
}

.navbar .shadow {
  background-image: url('/assets/shadow.png') !important;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -4px;
  left: 0px;
  height: 9px !important;
  width: 100% !important;
}

#email {
  height: 20px !important;
}

.landing .content #aux-box.share-page.invitations {
  height: 308px !important;
}

#ulink {
  float: left;
}



/* MAIN ---------------------------------------------------------------------------- */
/* COMPLEMENTARY ------------------------------------------------------------------- */
/* SITEINFO/FOOTER ----------------------------------------------------------------- */
/* GLOBAL ELEMENTS ----------------------------------------------------------------- */
/* VENDOR-SPECIFIC ----------------------------------------------------------------- */
/* MODERNIZR ----------------------------------------------------------------------- */
/* TEMPLATE SPECIFICS -------------------------------------------------------------- */