%table
  %tr
    %th ID
    %th email
    %th Datetime
    %th UID
    %th state
    %th \#referals
  -@users.each do |user|
    %tr
      %td=user.id
      %td=user.email
      %td=user.created_at
      %td=user.uid
      %td=user.state
      %td=user.inviteds.count
