-share_url = @user.id ? shareUrl_path(@user, :only_path => false) : "http://www.thehippyvan.com/abcde"
.page-header
  %h1 Featured
    %span Stores
.row
 .span12
  %ul.thumbnails
    %li.thumbnail
      %a
        %img{:src => "/assets/field_notes.png", :alt => "Stationery by Field Notes", :title => "Stationery by Field Notes"}
        .store-meta.caption.clearfix
          .info.pull-left
            %h2 Stationery
            %span.description by Field Notes
          .social.pull-right
            %a.fbbutton{:href => "http://www.facebook.com/sharer.php?u=#{share_url}", :title => "Share on Facebook", :target => "_blank"}
              %img{:alt => "Share on Facebook", :src => "/assets/fb.png", :title => "Share on Facebook"}
            %a.twbutton{:href => "http://twitter.com/intent/tweet?text=I have 3 exclusive invites for hipvan.com private design sales. Register using this link: #{share_url}", :title => "Share on Twitter", :target => "_blank"}
              %img{:alt => "Share on Twitter", :src => "/assets/twitter.png", :title => "Share on Twitter"}
            %a.pinbutton{:href => "http://pinterest.com/pin/create/button/?url=#{share_url}&media=http%3A%2F%2Fwww.hipvan.com%2Fassets%2Ffield_notes.png&description=HippyVan features design inspirations for everyday living and sales at up to 70% off retail. Free membership by invitation only. Check out hipvan.com today!", :title => "Share on Pinterest", :target => "_blank"}
              %img{:alt => "Share on Pinterest", :src => "/assets/pinterest.png", :title => "Share on Pinterest"}    
    %li.thumbnail
      %a
        %img{:src => "/assets/kleen_kanteen.png", :alt => "Bottles by Kleen Kanteen", :title => "Bottles by Kleen Kanteen"}
        .store-meta.caption.clearfix
          .info.pull-left
            %h2 Adventures
            %span.description by Kleen Kanteen
          .social.pull-right
            %a.fbbutton{:href => "http://www.facebook.com/sharer.php?u=#{share_url}", :title => "Share on Facebook", :target => "_blank"}
              %img{:alt => "Share on Facebook", :src => "/assets/fb.png", :title => "Share on Facebook"}
            %a.twbutton{:href => "http://twitter.com/intent/tweet?text=I have 3 exclusive invites for hipvan.com private design sales. Register using this link: #{share_url}", :title => "Share on Twitter", :target => "_blank"}
              %img{:alt => "Share on Twitter", :src => "/assets/twitter.png", :title => "Share on Twitter"}
            %a.pinbutton{:href => "http://pinterest.com/pin/create/button/?url=#{share_url}&media=http%3A%2F%2Fwww.hipvan.com%2Fassets%2Fkleen_kanteen.png&description=Kleen Kantee - Hipvan features design inspirations for everyday living and sales at up to 70% off retail. Free membership by invitation only. Check out thehippyvan.com today!", :title => "Share on Pinterest", :target => "_blank"}
              %img{:alt => "Share on Pinterest", :src => "/assets/pinterest.png", :title => "Share on Pinterest"}
.row
 .span12
  %ul.thumbnails
    %li.thumbnail
      %a
        %img{:src => "/assets/wobble_bowls.png", :alt => "Wobble Bowls by Speechless Studios", :title => "Wobble Bowls by Speechless Studios"}
        .store-meta.caption.clearfix
          .info.pull-left
            %h2 Kitchenware
            %span.description by Speechless Studios
          .social.pull-right
            %a.fbbutton{:href => "http://www.facebook.com/sharer.php?u=#{share_url}", :title => "Share on Facebook", :target => "_blank"}
              %img{:alt => "Share on Facebook", :src => "/assets/fb.png", :title => "Share on Facebook"}
            %a.twbutton{:href => "http://twitter.com/intent/tweet?text=I have 3 exclusive invites for thehippyvan.com private design sales. Register using this link: #{share_url}", :title => "Share on Twitter", :target => "_blank"}
              %img{:alt => "Share on Twitter", :src => "/assets/twitter.png", :title => "Share on Twitter"}
            %a.pinbutton{:href => "http://pinterest.com/pin/create/button/?url=#{share_url}&media=http%3A%2F%2Fwww.thehippyvan.com%2Fassets%2Fwobble_bowls.png&description=Kleen Kantee - HippyVan features design inspirations for everyday living and sales at up to 70% off retail. Free membership by invitation only. Check out thehippyvan.com today!", :title => "Share on Pinterest", :target => "_blank"}
              %img{:alt => "Share on Pinterest", :src => "/assets/pinterest.png", :title => "Share on Pinterest"}
    %li.thumbnail
      %a
        %img{:src => "/assets/nooka.png", :alt => "Watch by Nooka", :title => "Watch by Nooka"}
        .store-meta.caption.clearfix
          .info.pull-left
            %h2 Accessories
            %span.description by Nooka
          .social.pull-right
            %a.fbbutton{:href => "http://www.facebook.com/sharer.php?u=#{share_url}", :title => "Share on Facebook", :target => "_blank"}
              %img{:alt => "Share on Facebook", :src => "/assets/fb.png", :title => "Share on Facebook"}
            %a.twbutton{:href => "http://twitter.com/intent/tweet?text=I have 3 exclusive invites for thehippyvan.com private design sales. Register using this link: #{share_url}", :title => "Share on Twitter", :target => "_blank"}
              %img{:alt => "Share on Twitter", :src => "/assets/twitter.png", :title => "Share on Twitter"}
            %a.pinbutton{:href => "http://pinterest.com/pin/create/button/?url=#{share_url}&media=http%3A%2F%2Fwww.thehippyvan.com%2Fassets%2Fnooka.png&description=HippyVan features design inspirations for everyday living and sales at up to 70% off retail. Free membership by invitation only. Check out thehippyvan.com today!", :title => "Share on Pinterest", :target => "_blank"}
              %img{:alt => "Share on Pinterest", :src => "/assets/pinterest.png", :title => "Share on Pinterest"}
