!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8"}
    %title HipVan | Design inspirations for everyday living.
    =stylesheet_link_tag "admin", :media => "all"
    =csrf_meta_tags
    %body
      =yield