!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8"}
    %meta{:name => "keywords", :content => "HipVan, design, inspirations, home, living, interiors, interor design, modern design, design deals, home living, everyday living"}
    %meta{:name => "description", :content => "HipVan features design inspirations for everyday living and sales at up to 70% off retail. Free membership by invitation only. Check out hipvan.com today!"}
    %meta{:name => "og:description", :content => "HipVan features design inspirations for everyday living and sales at up to 70% off retail. Free membership by invitation only. Check out hipvan.com today!"}
    %meta{:property => "og:title", :content => "HipVan | Design inspirations for everyday living."}
    %meta{:property => "og:image", :content => "http://www.hipvan.com/assets/van.jpg"}

    %title HipVan | Design inspirations for everyday living.
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    %link{ :rel => "shortcut icon", :href => "favicon.png", :type => "image/x-icon"}/
    %body
      =yield